@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-indigo-950 text-white overflow-hidden;
  }
}

.glass-panel {
  @apply bg-white/10 backdrop-blur-xl border border-white/20 shadow-2xl;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
